.game-grid {
  display: inline-grid;
  gap: 1px;
  background-color: #e8e8e8;
  border: 1px solid #939393;

  .grid-cell {
    background-color: white;

    &.figure-I {
      background-color: skyblue;
    }
    &.figure-J {
      background-color: blue;
    }
    &.figure-L {
      background-color: orange;
    }
    &.figure-O {
      background-color: yellow;
    }
    &.figure-S {
      background-color: green;
    }
    &.figure-T {
      background-color: purple;
    }
    &.figure-Z {
      background-color: red;
    }
  }
}